*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
.container1{
    width:100%;
    height: 72px;
    background-color: #128c7e;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; 
    
}
header li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    color: #FFFFFF;
}
   

header a{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}
#internet{
    padding-top: 5px;
}
.main-container{
    width:100%;
    height: 572.625px;
    display:flex;
    justify-content: center;
    justify-content: space-around;
}
.inside{
    display: flex;
    
    margin:0 auto ;
}
.first{
font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 33px;
    
} 
.second{
    
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 33px;
}
.left-container{

padding-top: 150px;;
}
.right-container{
    padding-top: 80px;
    padding-left: 100px;
    
}
.text{
font-size: 18px;
    padding-top: 40px;
}
.endtext{
    padding-top: 10px;;
}
.phone-img{
    margin-top: 17px;
    width:304px;
    height:572.625px ;
}
main li{
    list-style: none;
    text-decoration: none;
font-size: 18px;
        margin:0 0 20px 0;   
     justify-content: space-between;

}
#download{
    padding-top: 30px;
}
.foot-main{
    display: flex;
    justify-content: center;
    width:100%;
    height: 897px;
    font-size: 18px;
    
    font-weight: 400px;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.foot-img{
    height: 389px;
    width: 356px;
    
}
.background{
    background-color:rgb(216, 232, 234);
    height:896.09px;
    width: 658.5px;
    
    /* padding-left:50px;
    margin-top: 50px; */
}
.right-background{
background-color:rgb(231, 240, 228);
height:896.09px;
width: 658.5px;
/* padding-right: 50px;
margin-top: 50px;; */
}
.circle{
    border-radius: 50%;
    height:350px;
    width: 350px;
    background-color:rgb(119,215,200);
    margin-left: 164px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.foot-left{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;

}
.foot-right{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    

}
.app{
    font-size: 34px;
    font-weight: 700px;
    padding-bottom: 35px;
    padding-top: 80px;

}
.space{
    padding-top: 16px;
}
.imagediv{
padding-top: 150px;
}
.super-space{
    font-size:18px;
    font-weight: 400px;
    line-height: 26px;
}
.end{
    width:1349px;
    height: 56px;
}
.end1{
    width:1349px;
    height: 55.19px;


}
.end{
width:1349px;
height: 55.19px;
}

.insideend1{
    padding-top: 20px;
    border :solid 2px rgb(119, 215, 200);
    color: rgb(119, 215, 200);
    width:214.95PX;
    height:55.19PX;
    border-radius: 30PX;
    margin:0 auto;
    text-align: center;
   
}
#lastpart{
    text-decoration: none;
    color: rgb(119, 215, 200);
}
.end1{
    width:1349px;
height: 55.19px;
}
.content{
    
    display: flex;
    justify-content: space-evenly;

    
    
}
.final-background-footer{
    padding-top: 50px;
    width:1349px;
    height: 357px;
    background-color: rgb(39, 52, 67);
    color:#FFFFFF;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.7px;
    line-height: 17px;
}
.sec1{
    line-height: 30px;
}
.faq{
    width:1349px;
    height: 66px;
    background-color: rgb(28, 30, 33);
    color:#FFFFFF;
}
.faq{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    line-height: 26px;
    padding-top: 10px;
}
